.pyx_chart_container {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  .tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 8px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    .items {
      display: flex;
      align-items: center;
      > div {
        display: flex;
        margin-left: 8px;
        margin-right: 8px;
        flex-direction: column;
        span.value {
          font-size: 16px;
          font-weight: bold;
        }
        span.item {
          font-size: 14px;
        }
      }
    }
  }

  svg {
    display: block;
    z-index: 1;

    circle {
      fill: white;
      stroke-width: 2;
    }

    rect {
      &.center {
        &:hover {
          cursor: grab;
        }
        &:active,
        &:focus {
          cursor: grabbing;
        }
      }
      &.control {
        fill: rgba(245, 249, 251, 0.7);
      }
      &.control_resize {
        fill: rgba(221, 234, 243, 0.7);
        &:hover,
        &:active,
        &:focus {
          cursor: col-resize;
        }
      }
    }
  }

  line {
    &.verticle {
      display: none;

      &.show {
        display: block;
      }
      stroke-width: 2;
    }
    stroke: #f2f4f5;
  }

  svg {
    user-select: none;
    touch-action: pan-x;

    &.main_chart {
      path {
        &:hover {
          stroke-width: 3;
        }
      }
    }

    &.chart_preview {
      margin-top: 5px;
    }
  }

  path {
    stroke-width: 2;
    transition: d 0.35s;
  }

  text {
    font-size: 12px;
    z-index: 1;
    background-color: white;
    font-family: sans-serif;
    text-shadow: 1px 0.5px white;
    &.text_step {
      fill: #96a2aa;
    }

    &.charts_abs {
      fill: #96a2aa;
    }
  }

  &.night {
    background-color: #242f3e;
    line {
      stroke: #293544;
    }

    rect {
      &.control {
        fill: rgba(31, 42, 56, 0.7);
      }
    }

    text {
      text-shadow: 1px 0.5px #242f3e;
      &.text_step {
        fill: #546778;
      }
      &.charts_abs {
        fill: #546778;
      }
    }
  }
}
