@import '../colors/colors.scss';
@import '../checkbox/checkbox.scss';

$toolTipBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.pxyup_chart_container {
  width: 100%;
  background-color: map-get($color_day, 'background');
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.animation {
    path {
      transition: d 0.15s;
    }
  }

  .axis_labels {
    user-select: none;
    font-size: 13px;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      color: map-get($color_day, 'textAxis');
    }
  }

  .preview_container {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    .preview_controls {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      .control {
        will-change: transform;
        height: 100%;
        position: absolute;
        &.left,
        &.right {
          &:hover {
            cursor: pointer;
          }
        }
        &.left {
          width: 100%;
          background-color: map-get($color_day, 'controlLeftRightFill');
          .resize {
            right: -5px;
          }
        }
        &.right {
          background-color: map-get($color_day, 'controlLeftRightFill');
          width: 100%;
          .resize {
            left: -5px;
          }
        }
        &.center {
          z-index: 3;
          border-top: 1px solid map-get($color_day, 'controlCenterStoke');
          border-bottom: 1px solid map-get($color_day, 'controlCenterStoke');
          height: calc(100% - 2px);
          &:hover {
            cursor: grab;
          }
          &:active,
          &:focus {
            cursor: grabbing;
          }
        }
        .resize {
          z-index: 2;
          top: 0;
          position: absolute;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          &:hover,
          &:active,
          &:focus {
            cursor: col-resize;
          }
          .caret {
            background-color: map-get($color_day, 'controlResizeLeftRightFill');
            width: 10px;
            height: 100%;
          }
        }
      }
    }
  }

  .controls {
    margin-top: 8px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .night_mode_control {
    margin-top: 10px;
    a {
      font-size: 20px;
      user-select: none;
      color: map-get($color_day, 'link');
      &:hover {
        cursor: pointer;
      }
    }
  }

  .tooltip {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: map-get($color_day, 'background');
    box-shadow: $toolTipBoxShadow;
    min-width: 90px;
    padding: 8px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      > div {
        display: flex;
        margin-left: 8px;
        margin-right: 8px;
        flex-direction: column;
        span.value {
          font-size: 16px;
          font-weight: bold;
        }
        span.item {
          font-size: 14px;
        }
      }
    }
  }

  svg {
    display: block;
    position: relative;

    circle {
      fill: white;
      stroke-width: 2;
    }
  }

  line {
    &.verticle {
      display: none;
      &.show {
        display: block;
      }
      stroke-width: 2;
    }
    stroke: map-get($color_day, 'lineStroke');
  }

  svg {
    user-select: none;
    touch-action: pan-x;

    &.main_chart {
      path {
        &:hover {
          stroke-width: 3;
        }
      }
    }
  }

  path {
    stroke-width: 2;
  }

  text {
    font-size: 12px;
    z-index: 1;
    background-color: white;
    font-family: sans-serif;
    text-shadow: 1px 0.5px white;
    &.text_step {
      fill: map-get($color_day, 'textAxis');
    }
  }

  &.night {
    .axis_labels {
      div {
        color: map-get($color_night, 'textAxis');
      }
    }

    .checkbox_container {
      background-color: map-get($color_night, 'background');
      border-color: map-get($color_night, 'border');
      .round {
        &.not_active {
          background-color: unset !important;
          border-color: map-get($color_night, 'border') !important;
        }
      }
      .label {
        color: map-get($color_night, 'textColor');
      }
    }

    .tooltip {
      background-color: map-get($color_night, 'toolTipBackGround');
      p {
        color: map-get($color_night, 'textColor');
      }
    }
    background-color: map-get($color_night, 'background');
    line {
      stroke: map-get($color_night, 'lineStroke');
    }

    .preview_controls {
      .control {
        &.left,
        &.right {
          background-color: map-get($color_night, 'controlLeftRightFill');
        }
      }
    }

    text {
      text-shadow: 1px 0.5px #242f3e;
      &.text_step {
        fill: map-get($color_night, 'textAxis');
      }
    }
  }
}
